<!DOCTYPE html>
<html>
    <head>
        <title>HTML</title>

        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="icon" href="https://www.flaticon.com/svg/vstatic/svg/1829/1829552.svg?token=exp=1620855644~hmac=71528dcc93175ca94eb9ad7c72412666">
        <link href="style.css" rel="stylesheet">

    </head>
    <body>
   <header>
       <nav>
           <div class="head">
           <ul style="text-align: center">
               <li><a href="#">Home</a></li>
               <li><a href="#"  >Service</a></li>
               <li><a href="#" >Contact</a></li>

           </ul>
        </div>
       </nav>
   </header>
   <main>
       <section class="home">
          <div class="homep" ><h2>Home page</h2> 
          
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus accusamus nam debitis neque optio nobis sequi quidem reprehenderit sed, ducimus eveniet deleniti odit. Mollitia deserunt eum quia officiis temporibus provident.</p>
</div>
<div class="homeimg"><img src="t.jpg" alt="">          </div>

       </section>
    <section class="servie">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/auFVttzUoo8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </section>


   </main>
   <footer>
    <h2>Contact us</h2>
    <form>
        <label for="name" style="color: blue;" aria-placeholder="type your name">Name</label><br>
        <input type="text" id="name" style="border: 1px rgb(56, 55, 55) solid;  " ><br>
        <label for="name" style="color: blue;">Password</label><br>
        <input type="password" id="pass" style="border: 1px rgb(56, 55, 55) solid;  "><br>
 </form>
 </footer>
    </body>
    </html>