<section id="services" class="bg-light pt-100 pb-70">
   <div class="container">
      <div class="row align-items-center">
         <div class="col-lg-5">
            <h2 class="title">What <span>Service</span> We
               Offer
            </h2>
            <p class=" mt-3 ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>
            <a class="btn btn-primary my-5" href="#">More Info </a>
         </div>
         <div class="col-lg-7">
            <div class="row card-items">
               <div class="col-lg-6 col-sm-6">
                  <div class="card">
                     <div class="card-body">
                        <i class="bi bi-laptop"></i>
                        <h5 class="card-title">Web Development</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                     </div>
                  </div>
               </div>
               <div class="col-lg-6 col-sm-6">
                  <div class="card">
                     <div class="card-body">
                        <i class="bi bi-droplet-half"></i>
                        <h5 class="card-title">UX/UI Design</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                     </div>
                  </div>
               </div>
               <div class="col-lg-6 col-sm-6">
                  <div class="card">
                     <div class="card-body">
                        <i class="bi bi-envelope-open"></i>
                        <h5 class="card-title"> Digital Marketing</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                     </div>
                  </div>
               </div>
               <div class="col-lg-6 col-sm-6">
                  <div class="card">
                     <div class="card-body">
                        <i class="bi bi-phone"></i>
                        <h5 class="card-title"> Mobile App Development</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>